<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Year</th>
        <th>Created</th>
        <th>Status</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>
                <a href="{{ path('book_show', {
                    'id': book.id
                }) }}">{{ book.title }}</a>
            </td>
            <td>
                <ul>
                    {% for authors in book.authors.values %}
                        <li>{{ authors.name|e }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ book.year }}</td>
            <td>{{ book.createdAt|date('Y-m-d') }}</td>
            <td>{{ book.status }}</td>
            <td>
                <a href="{{ path('book_edit', {'id': book.id}) }}">
                    <i class="fa fa-edit fa-lg"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>