{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Year</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>
                    <ul>
                    {% for authors in book.authors.values %}
                        <li>{{ authors.name|e }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ book.year }}</td>
                <td>{{ book.createdAt|date('Y-m-d') }}</td>
                <td>{{ book.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
